
/* Common styles */


  
body {
font-family: Arial, sans-serif;
text-align: left;
margin: 0;
}

header, footer, main {
width: 80%;
margin: 0 auto;
}

header nav a, footer p {
display: inline-block;
padding: 1em;
}

header nav {
text-align: right;
}

main {
padding: 2em 0;
}

footer {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
}


/* Form styles */
form {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  }
  

form label, form input[type="submit"] {
display: block;
margin: 1em 0;
}

form label {
font-weight: bold;
}

form input[type="text"], form textarea {
width: 100%;
padding: .5em;
font-size: 1em;
}

form textarea {
width: 100%;
padding: .5em;
font-size: 1em;
height: 10em; /* add this line */
}

form input[type="submit"] {
display: block;
margin: 1em 0;
width: 20%;
padding: .5em;
font-size: 1em;
background-color: green;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

form input[type="submit"]:hover {
background-color: darkgreen;
}
  
  


/* Blog details */
h1 {
font-size: 36px;
font-weight: bold;
text-align: center;
}
    
.blog-body {
font-size: 18px;
line-height: 1.5;
padding: 20px;
max-width: 720px;
margin: 0 auto;
}

/* Delete button */
.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 1;

  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  
/* 404 */

    